/* Navbar styles */

.Navbar {
  background-color: #000;
  color: #fff;
  padding: 0px 0;
  text-align: center;
}

.Navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.Navbar .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo-div{
   display: flex;
   justify-content: center;
   align-items: center; 
}
.logo-div img{
   height: 3rem;
}
.Navbar .col-md-4 {
  flex-basis: 33.33%;
  margin: 20px;
}


.Navbar ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.Navbar ul.nav li {
  margin-right: 30px;
  width: max-content;
}

.Navbar ul.nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}
#products{
  color: red;
}

.Navbar ul.nav a:hover {
  color: #ccc;
}

.Navbar .social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Navbar .social-media li {
  margin-right: 0px;
}
.Navbar .social-media li img {
  height: 1.5rem;
  margin: 1px
}

.Navbar .social-media a {
  text-decoration: none;
  transition: color 0.2s ease;
}
#asus{
  height: fit-content;
  border: 2px solid red;
  border-radius: 30px;
  padding: 4px 10px 2px 10px;
  position: relative;
}
#asus::after{
  content: "";
  position: absolute;
  top: 0%;
  right: -15%;
  height: 200%;
  width: 2px;
  background-color: #ef0f0f;
  transform: translate(-50%, -25%);
}
#asus img{
  height: 1rem;
}

.Navbar .social-media a:hover {
  color: #ccc;
}


/* Responsive styles */

@media (max-width: 768px) {
  .Navbar .col-md-4 {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .Navbar .col-md-4 {
    flex-basis: 100%;
  }
  .Navbar ul.nav {
    flex-wrap: nowrap;
  }
  .Navbar ul.nav li {
    margin-right: 10px;
  }
}